@use "../abstracts/variables" as variables;

body {
    font-family: "Josefin Sans", sans-serif;
}

.main-title {
    font-size: 2.5rem;
    font-weight: 600;
}

.main-title-accent {
    color: variables.$desaturatedRed;
    font-weight: 300;
}

.main-text,
.form-email::placeholder {
    color: variables.$desaturatedRed;
    font-size: 0.875rem;
}

.form-error-msg {
    color: variables.$softRed;
    font-size: 0.8125rem;
}
