.logo {
    padding: 2em 0 1em 2em;
    width: 30%;
    margin-bottom: 1em;
}

.desktop-hero-img {
    display: none;
}

.mobile-hero-img {
    width: 100%;
}

@media (min-width: 700px) {
    .logo {
        width: 20%;
        justify-self: left;
        margin-left: 11.25em;
        margin-top: 2em;
    }

    .mobile-hero-img {
        display: none;
    }

    .desktop-hero-img {
        display: initial;
        grid-row: 1 / 4;
        grid-column: 2 / 3;
        height: 100vh;
        width: 100%;
    }
}
